html {
  font-size: 62.5%; }

@font-face {
  font-family: "proxima";
  src: url(proxima/ProximaNova-Regular.otf); }
body {
  font-family: proxima !important; }

* {
  outline: none; }

main .container-fluid {
  width: 94%; }

a:hover {
  text-decoration: none !important; }

.heading-primary-white {
  font-stretch: normal;
  font-style: normal;
  font-size: 6.4rem;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.07;
  color: #fff; }

.heading-primary {
  font-stretch: normal;
  font-style: normal;
  font-size: 6.4rem;
  font-weight: bold;
  letter-spacing: -1.25px;
  line-height: 1.03;
  color: #18214d;
  text-align: center; }

.heading-primary-variant {
  font-stretch: normal;
  font-style: normal;
  font-size: 6.4rem;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.17;
  color: #071a2d; }

.heading-secondary {
  font-stretch: normal;
  font-style: normal;
  font-size: 4.8rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.29;
  color: #18214d; }

.heading-secondary-white {
  font-stretch: normal;
  font-style: normal;
  font-size: 4.8rem;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  color: #fff;
  text-align: center; }

.heading-tertiary {
  font-stretch: normal;
  font-style: normal;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: -1.54px;
  line-height: 1.22;
  color: #18214d;
  text-align: center; }

.heading-tertiary-variant {
  font-stretch: normal;
  font-style: normal;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: -1.5px;
  line-height: 1.22;
  color: #071a2d;
  text-align: center; }

.heading-tertiary-white {
  font-stretch: normal;
  font-style: normal;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: -0.8px;
  line-height: 1.33;
  color: #fff; }

.heading-tertiary-variation {
  font-stretch: normal;
  font-style: normal;
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: normal;
  line-height: normal;
  color: #071a2d;
  text-align: center; }

.heading-four {
  font-stretch: normal;
  font-style: normal;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: -0.24px;
  line-height: 1.33;
  color: #071a2d;
  text-align: center; }
  .heading-four .bold {
    font-weight: 800; }

.heading-four-variant {
  font-stretch: normal;
  font-style: normal;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: normal;
  color: #071a2d; }

.heading-four-white {
  font-stretch: normal;
  font-style: normal;
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: normal;
  line-height: normal;
  color: #fff; }

.heading-four-variation {
  font-stretch: normal;
  font-style: normal;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 1.36;
  line-height: normal;
  color: #071a2d;
  text-align: center; }

.paragraph {
  font-stretch: normal;
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -0.2px;
  line-height: 1.4;
  color: #071a2d;
  margin-top: 2rem; }

.paragraph-white {
  font-stretch: normal;
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.52;
  color: #fff; }

.paragraph-white-variation {
  font-stretch: normal;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.44;
  color: #fff; }

.paragraph-variation {
  font-stretch: normal;
  font-style: normal;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: -0.24px;
  line-height: 1.33;
  color: #071a2d; }
  .paragraph-variation span {
    font-weight: 800; }

.anchor-link {
  font-stretch: normal;
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: #400d85;
  display: inline-block;
  margin-top: 3.5rem; }
  .anchor-link i {
    position: relative;
    top: 2px; }

.smaller-text {
  font-stretch: normal;
  font-style: normal;
  font-size: 1.44rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 1.25;
  color: #071a2d;
  text-transform: uppercase; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-4 {
  margin-top: 4px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top--50 {
  margin-top: -50px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-top-80 {
  margin-top: 8rem; }

.space {
  margin-top: 4rem; }

.padding-bottom-70 {
  padding-bottom: 7rem; }

.margin-top-100 {
  margin-top: 10rem; }

.margin-top-60 {
  margin-top: 6rem; }

.margin-top-40 {
  margin-top: 4rem; }

.margin-top-20 {
  margin-top: 20px; }

.mt-30 {
  margin: 3rem 0; }

.margin-right-10 {
  margin-right: 1rem; }

.btn.btn-info:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn.btn-info:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
.btn.btn-info:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn.btn-info.btn-login:link, .btn.btn-info.btn-login:visited {
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background-color: #400d85;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  position: relative;
  border: solid 3px #3a0b79;
  transition: all .2s;
  padding: 10px 30px;
  padding-top: 6px;
  display: inline-block;
  text-transform: capitalize; }

.btn.btn-info.btn-create:link, .btn.btn-info.btn-create:visited {
  background: transparent;
  border-radius: 6px;
  border: solid 1px #3b2f85;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #071a2d;
  padding: 10px 20px; }

.btn.btn-info.btn-subscribe {
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #3b2f85;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
  width: 100%;
  padding: 1rem 3rem;
  padding-top: 7px;
  border-color: #3b2f85;
  height: 52px; }

.btn.btn-info.btn-whoweare {
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #071a2d;
  padding: 1rem 3rem;
  border-color: #fff; }

.testimonial-box {
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 3rem;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 4rem; }
  .testimonial-box:not(:last-child) {
    margin-right: 1.5rem; }
  .testimonial-box hr {
    width: 60%;
    background-color: #dfe4ea;
    margin: 40px auto; }
  .testimonial-box__image {
    width: 62px;
    height: 62px;
    background-color: #696cff;
    border-radius: 50%;
    margin-right: 1rem; }
  .testimonial-box__name {
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: -0.55px;
    color: #18214d;
    font-size: 2.2rem;
    margin-top: 10px;
    margin-bottom: -5px; }
  .testimonial-box__position {
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: -0.4px;
    color: #3e4462; }

.nav-tabs .nav-link {
  font-stretch: normal;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.13;
  color: #071a2d;
  padding-left: 0;
  border: none;
  width: 135%;
  border-bottom: solid 1px #eeeeee !important;
  margin-top: 1rem; }
.nav-tabs .nav-link.active {
  color: #4300c2;
  font-weight: 600; }
  .nav-tabs .nav-link.active::after {
    content: "\f105";
    margin-left: 1.5rem; }

.tab-content h4 {
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: -0.23px;
  margin-bottom: 0;
  margin-top: 20px; }
.tab-content p {
  font-stretch: normal;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.44;
  color: #071a2d; }

.hexagon {
  width: 6rem;
  height: 3rem;
  background-color: #3f2e8c;
  position: relative;
  margin-top: 3.3rem;
  margin-right: 4rem; }
  .hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0; }
  .hexagon:before {
    top: -2.5rem;
    left: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 2.5rem solid #3f2e8c; }
  .hexagon:after {
    bottom: -2.5rem;
    left: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-top: 2.5rem solid #3f2e8c; }

.header {
  background-image: radial-gradient(circle at 60% 36%, #9987bf, #3f2d8f 98%), linear-gradient(to bottom, #967fff, #967fff);
  padding-bottom: 140px; }
  .header .container-fluid {
    width: 94%; }
  .header .navbar {
    background-color: #ffffff;
    padding: 0; }
    .header .navbar .logo {
      max-height: 40px; }
    .header .navbar .navbar-toggler {
      border: 1px solid #400d85;
      padding: 6px 10px 5px 10px;
      font-size: 16px; }
    .header .navbar ul.navbar-nav {
      padding: 10px 10px 15px 10px;
      margin-top: 4px; }
      .header .navbar ul.navbar-nav .dropdown-menu {
        border: 0 !important; }
      .header .navbar ul.navbar-nav .dropdown-menu.dropdown-menu-lg {
        min-width: 400px;
        border-radius: .25rem; }
        .header .navbar ul.navbar-nav .dropdown-menu.dropdown-menu-lg a {
          padding: 2rem; }
          .header .navbar ul.navbar-nav .dropdown-menu.dropdown-menu-lg a h6 {
            font-size: 1.6rem;
            font-weight: 600; }
          .header .navbar ul.navbar-nav .dropdown-menu.dropdown-menu-lg a p {
            font-size: 1.4rem; }
      .header .navbar ul.navbar-nav .dropdown-toggle.flag-toggle {
        right: 3px;
        box-shadow: 0 8px 16px 0 rgba(3, 49, 86, 0.08); }
      .header .navbar ul.navbar-nav .nav-link {
        font-stretch: normal;
        font-style: normal;
        font-size: 1.6rem;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.5;
        color: #071a2d;
        padding: 0 4.5rem; }
        .header .navbar ul.navbar-nav .nav-link:hover {
          color: #400d85;
          font-weight: 600; }
        .header .navbar ul.navbar-nav .nav-link .Products {
          font-family: ArialUnicodeMS; }
      .header .navbar ul.navbar-nav .nav-link#navbardrop {
        display: inline-block;
        padding: 0;
        padding-left: 4.5rem;
        padding-top: 13px;
        margin-left: auto; }
      .header .navbar ul.navbar-nav .dropdown-item.active, .header .navbar ul.navbar-nav .dropdown-item:active {
        color: #fff; }
      .header .navbar ul.navbar-nav .nav-link.active {
        color: #400d85;
        font-weight: 600; }
      .header .navbar ul.navbar-nav .form-group #basic button {
        font-stretch: normal;
        font-style: normal;
        font-size: 1.6rem;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.5;
        color: #071a2d;
        margin-left: 1rem;
        margin-top: 6px; }
      .header .navbar ul.navbar-nav .form-group #basic ul {
        padding: 1rem; }
        .header .navbar ul.navbar-nav .form-group #basic ul li {
          font-stretch: normal;
          font-style: normal;
          font-size: 1.6rem;
          font-weight: normal;
          letter-spacing: normal;
          line-height: 1.5;
          color: #071a2d; }
      .header .navbar ul.navbar-nav .dropdown-item {
        font-stretch: normal;
        font-style: normal;
        font-size: 1.6rem;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.5;
        color: #071a2d;
        padding: 5px 30px; }
    .header .navbar ul.navbar-nav.second-nav .nav-link {
      padding-top: 1.2rem; }
    .header .navbar ul.navbar-nav.second-nav .btn.btn-info.btn-login:link,
    .header .navbar ul.navbar-nav.second-nav .btn.btn-info.btn-login:visited {
      padding-top: 0.9rem;
      margin-right: 1rem; }
  .header__box {
    padding-top: 15rem; }
  .header__access-box {
    display: inline-block;
    border-radius: 18.9px;
    background-color: rgba(255, 255, 255, 0.96);
    padding: 5px 7px;
    padding-top: 4px;
    height: 35px;
    padding-top: 10px;
    font-stretch: normal;
    font-style: normal;
    font-size: 1.26rem;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #23303d; }
    .header__access-box .badge.badge-primary {
      border-radius: 90px;
      background-color: #14b28b;
      font-size: 1.08rem;
      font-weight: 600;
      text-align: center;
      color: #fff;
      position: relative;
      top: -1px; }
  .header__read-more {
    font-weight: 600;
    color: #3f2e8c; }

.footer__top {
  background-color: #071a2d;
  padding: 40px 0; }
  .footer__top .container-fluid {
    width: 94%; }
    .footer__top .container-fluid h3 {
      font-weight: 500; }
    .footer__top .container-fluid img {
      height: 45px; }
.footer__bottom {
  background-color: #05172a;
  padding: 40px 0 30px 0; }
  .footer__bottom img {
    max-height: 40px; }
  .footer__bottom h6 {
    font-stretch: normal;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    line-height: 1.38;
    color: #fff; }
  .footer__bottom p a {
    font-stretch: normal;
    font-style: normal;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: -0.2px;
    line-height: 1.63;
    color: rgba(255, 255, 255, 0.66); }
    .footer__bottom p a:hover {
      color: #4300c2; }
  .footer__bottom hr {
    background-color: rgba(255, 255, 255, 0.66);
    margin-top: 9rem; }
  .footer__bottom .powered {
    font-stretch: normal;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.67;
    color: rgba(255, 255, 255, 0.8); }
  .footer__bottom input.form-control {
    font-stretch: normal;
    font-style: normal;
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: -0.3px;
    line-height: 1.44;
    color: #3e4462;
    border-radius: 8px;
    background-color: #eff2f6;
    height: auto;
    padding-bottom: 6px; }

.header {
  background: url(./../images/about/about-header.png); }
  .header .about-text {
    color: #fff;
    width: 45%;
    margin: auto; }

main .section-aboutus {
  margin-top: -18rem;
  padding: 0 !important; }
  main .section-aboutus .aboutus {
    border-radius: 4px;
    background-color: #ffeddf;
    max-width: 1069px;
    margin: auto; }
    main .section-aboutus .aboutus .half {
      width: 50%; }
      main .section-aboutus .aboutus .half .aboutus-wrapper {
        padding: 3rem; }
        main .section-aboutus .aboutus .half .aboutus-wrapper h3 {
          font-stretch: normal;
          font-style: normal;
          font-size: 3.2rem;
          font-weight: 500;
          letter-spacing: -0.2px;
          line-height: normal;
          color: #071a2d; }
        main .section-aboutus .aboutus .half .aboutus-wrapper p {
          font-stretch: normal;
          font-style: normal;
          font-size: 2rem;
          font-weight: normal;
          letter-spacing: -0.2px;
          line-height: 1.9;
          color: #071a2d; }
      main .section-aboutus .aboutus .half .whoweare-image {
        background: url(./../images/about/whoweare.png);
        background-size: cover;
        max-width: 100%;
        height: 100%; }
main .section-team .team-wrapper {
  width: 70%;
  margin: auto;
  padding: 0 4rem;
  color: #111111; }
  main .section-team .team-wrapper h2 {
    margin-top: 1.5rem; }
  main .section-team .team-wrapper p {
    font-size: 2rem;
    font-weight: 600;
    color: #111111;
    margin-top: 1.4rem;
    margin-bottom: 0; }
  main .section-team .team-wrapper span {
    opacity: 0.5;
    font-size: 16px; }
main .section-services {
  background: url(./../images/about/consumer.svg);
  background-size: cover; }
  main .section-services h2 {
    text-align: left;
    width: 50%;
    margin-bottom: 3rem; }
  main .section-services .findout {
    width: 140px;
    height: 140px;
    border: solid 0.5px #9a8be5;
    background-color: #5e50aa;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    padding-top: 5.5rem; }
    main .section-services .findout::after {
      content: "";
      width: 2px;
      height: 3rem;
      color: #697381; }
main .section-review {
  background: url(./../images/about/yearinreview-background.svg);
  background-size: cover; }
  main .section-review h3 {
    text-align: left; }
  main .section-review span {
    font-size: 14px;
    line-height: 1.57;
    color: #071a2d;
    display: inline-block;
    width: 60%;
    margin-bottom: 1.5rem; }
main .section-presskit {
  background-color: #f0f3f6;
  position: relative;
  z-index: 2; }
  main .section-presskit h3 {
    text-align: left; }
  main .section-presskit .presskit {
    width: 264px; }
  main .section-presskit .contact-wrapper {
    border-radius: 10px;
    background-color: #fff;
    padding: 4rem 2.5rem; }
    main .section-presskit .contact-wrapper p {
      font-size: 18px;
      color: #120c0c; }
      main .section-presskit .contact-wrapper p a {
        line-height: 0.83;
        color: #120c0c; }
main .section-journey {
  background: url(./../images/about/integration.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-left: 7rem; }
  main .section-journey .timeline {
    position: relative; }
    main .section-journey .timeline::after {
      content: '';
      position: absolute;
      width: 1px;
      background-color: #697381;
      top: 0;
      bottom: 60px;
      left: 0;
      margin-left: 0.5px; }
    main .section-journey .timeline .wrapper {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 50%; }
      main .section-journey .timeline .wrapper::after {
        content: '';
        position: absolute;
        background: url(./../images/about/steps.svg);
        width: 100%;
        height: 50px;
        background-repeat: no-repeat;
        right: -17px;
        top: 15px;
        z-index: 1; }
      main .section-journey .timeline .wrapper .content {
        padding-top: 8px;
        padding-bottom: 50px; }
        main .section-journey .timeline .wrapper .content h4 {
          font-size: 24px;
          line-height: 1.33;
          color: #404855; }
        main .section-journey .timeline .wrapper .content p {
          font-size: 18px;
          line-height: 1.44;
          color: #697381; }
    main .section-journey .timeline .wrapper.right::after {
      left: -18px; }
main .consumer-wrapper {
  max-width: 80%;
  margin: auto; }

.faq-header {
  padding-bottom: 24rem; }

.main .section-faq {
  border-radius: 20px;
  background-image: linear-gradient(358deg, #fcfcff 96%, #ffffff 39%);
  padding: 5rem 10rem 8rem 10rem;
  margin-top: -8rem; }
  .main .section-faq h2 {
    font-weight: 500;
    line-height: 1.25;
    color: #14171d; }
  .main .section-faq .accordion {
    margin-top: 5rem; }
    .main .section-faq .accordion .card {
      border-radius: 6px;
      box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.05);
      border: 0;
      margin-bottom: 2rem; }
      .main .section-faq .accordion .card .card-head {
        padding: 2rem 2.5rem;
        background-color: transparent;
        border-bottom: none; }
        .main .section-faq .accordion .card .card-head h4 {
          font-weight: 500;
          line-height: 1.5;
          text-align: left;
          background: url(./../images/faq/arrow-up.svg) no-repeat calc(100% - 10px) center;
          background-size: 20px;
          cursor: pointer; }
        .main .section-faq .accordion .card .card-head h4[aria-expanded="true"] {
          background-image: url(./../images/faq/arrow-down.svg); }
      .main .section-faq .accordion .card .card-body {
        padding: 0 2.5rem 2.5rem 2.5rem; }
        .main .section-faq .accordion .card .card-body p {
          font-stretch: normal;
          font-style: normal;
          font-size: 1.92rem;
          font-weight: normal;
          letter-spacing: normal;
          line-height: 1.5;
          color: #606267; }

.image-width {
  width: 460px; }

.main section {
  padding: 4rem 0; }
.main .section-wallet {
  border-radius: 20px;
  background-image: linear-gradient(358deg, #fcfcff 96%, #ffffff 39%);
  padding: 3rem 6rem;
  margin-top: -95px; }
  .main .section-wallet p.paragraph {
    width: 84%; }
.main .section-loan a {
  margin-top: 1rem; }
.main .section-investment {
  background-image: linear-gradient(to bottom, #fbfaff, #ffffff 43%); }
  .main .section-investment a {
    margin-top: 1rem; }
.main .section-testimonial {
  background: #fafafa;
  padding-bottom: 9rem; }
  .main .section-testimonial h4.text-center {
    width: 58%;
    margin: 4rem auto; }
  .main .section-testimonial .carousel .carousel-indicators {
    bottom: -4.5rem; }
    .main .section-testimonial .carousel .carousel-indicators li {
      width: 1rem;
      height: 1rem;
      background-color: #e2e8eb;
      border-radius: 100%; }
    .main .section-testimonial .carousel .carousel-indicators li.active {
      background-color: #3b2f85; }
.main .section-newsletter {
  background-image: url(./../images/newsletter.svg);
  background-size: cover; }
  .main .section-newsletter .newsletter-wrapper {
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #55499f;
    padding: 4rem 0;
    text-align: center; }
    .main .section-newsletter .newsletter-wrapper h3 {
      font-stretch: normal;
      font-style: normal;
      font-size: 3.2rem;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 1.25;
      color: #fff; }
    .main .section-newsletter .newsletter-wrapper .d-flex {
      justify-content: center;
      margin-top: 2rem; }
      .main .section-newsletter .newsletter-wrapper .d-flex .form-control {
        font-stretch: normal;
        font-style: normal;
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.4;
        color: #071a2d;
        padding: 1rem 3rem;
        height: 50px;
        border-radius: 8px;
        background-color: #eff2f6;
        border: 0; }
.main .section-clients {
  text-align: center; }
  .main .section-clients h3 {
    font-weight: 500; }
  .main .section-clients img {
    margin-top: 3.5rem; }
  .main .section-clients hr {
    background-color: #dfe4ea;
    margin-top: 5rem; }

.wallet .header {
  background-image: radial-gradient(circle at 62% 37%, #ffffff, #ffffff 39%, #f6f5fa 83%);
  background: #faf7fe;
  padding-bottom: 8rem; }
.wallet .paragraph-wrapper {
  width: 75%; }
.wallet .section-walletdetails__wrapper .wallet-card h6 {
  font-stretch: normal;
  font-style: normal;
  font-size: 2.24rem;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.36;
  color: #071a2d; }
.wallet .section-walletdetails__wrapper .wallet-card p {
  font-stretch: normal;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.5;
  color: #071a2d;
  width: 67.5%;
  margin-top: 3rem; }

.section-terms {
  padding: 4rem 0; }
  .section-terms .container-fluid {
    width: 70%; }

.loan header {
  background: #fff;
  padding-bottom: 6rem; }
.loan section {
  padding: 4rem 0; }
.loan .section-howitworks {
  background-image: linear-gradient(to right, #3d2e84 0%, #8e64db 100%);
  padding: 8rem 0;
  padding-bottom: 37rem;
  transform: skewY(-7deg); }
  .loan .section-howitworks > * {
    transform: skewY(7deg); }
  .loan .section-howitworks .icon-wrapper i {
    font-size: 1.6rem;
    color: #fff; }
  .loan .section-howitworks .icon-wrapper:after {
    clear: both; }
.loan .section-image {
  margin-top: -35rem;
  position: relative; }
.loan .section-features img {
  margin-bottom: 1.5rem; }
.loan .section-features__paragraph {
  font-stretch: normal;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: -0.2px;
  line-height: 1.44;
  color: #071a2d;
  width: 74%; }
.loan .section-referral {
  background: #edfcff; }
  .loan .section-referral__wrapper {
    margin-top: 8rem; }
.loan .section-payroll__heading-primary {
  font-stretch: normal;
  font-style: normal;
  font-size: 5.6rem;
  font-weight: bold;
  letter-spacing: -2.4px;
  line-height: 1.11;
  color: #071a2d; }
.loan .section-payroll__paragraph {
  width: 65%;
  font-stretch: normal;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: -0.3px;
  line-height: 1.44;
  color: #071a2d; }
.loan .section-payroll a {
  margin-top: 0; }
.loan .section-additionalinfo {
  background: #f9f9f8; }
  .loan .section-additionalinfo__infohead {
    font-stretch: normal;
    font-style: normal;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: -0.55px;
    line-height: 1.36;
    color: #071a2d; }
  .loan .section-additionalinfo__infoparagraph {
    font-stretch: normal;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: -0.2px;
    line-height: 1.44;
    color: rgba(7, 26, 45, 0.8); }
.loan p {
  padding: 1.5rem 0; }
.loan footer p {
  padding: 0; }

.investment .header {
  background: #f6f3ff;
  padding-bottom: 8rem; }
.investment section {
  padding: 4rem 0; }
.investment .section-steps__image {
  background: url(../images/investment.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center; }
.investment .section-steps .image-width.howitworks-image {
  width: 380px; }
.investment .section-steps__wrapper {
  padding: 0 3rem; }
  .investment .section-steps__wrapper .relative {
    position: relative; }
    .investment .section-steps__wrapper .relative p.paragraph-white {
      color: #3f2e8c;
      position: absolute;
      top: 6px; }
    .investment .section-steps__wrapper .relative p.paragraph-white.stepone {
      color: #fff; }
    .investment .section-steps__wrapper .relative .line {
      width: 2px;
      height: 50px;
      border: solid 1px #3f2e8c;
      margin-left: 1.7rem;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem; }
  .investment .section-steps__wrapper h6 {
    font-stretch: normal;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    color: #071a2d;
    margin-top: 0.5rem;
    margin-left: 3rem; }
.investment .section-investmentterms {
  background-color: #fff7f6; }
  .investment .section-investmentterms .d-flex {
    justify-content: space-between; }
.investment .section-plan {
  padding-bottom: 2rem; }
.investment .section-charges {
  background-color: #e0f9ff; }
  .investment .section-charges h6 {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: -0.22px;
    margin-top: 2rem; }
  .investment .section-charges p i {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 8px;
    border-radius: 50%;
    position: relative;
    top: -4px; }
.investment p {
  width: 91%; }

#payment .header {
  background: #fefaf6; }
  #payment .header__box p {
    width: 84%; }
#payment .section-recharge {
  background: url(./../images/payment/recharge-airtime-bg.svg);
  background-size: cover; }
  #payment .section-recharge__rwrapper {
    margin-top: 8rem; }

/*# sourceMappingURL=style.css.map */
