// COLORS

$color-primary: #071a2d;
$color-secondary: #18214d;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
$heading-primary-size: 6rem;
$heading-secondary-size: 4.8rem;
$heading-tertiary-size: 3.6rem;
$heading-four-size: 2.4rem;
$paragraph-size: 1.8rem;
$anchor-link-size: 2rem;