.hexagon {
    width: 6rem;
    height: 3rem;
    background-color: transparent;
    position: relative;
    margin-top: 3.3rem;
    margin-right: 4rem;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
    }
    &:before {
        top: -2.5rem;
        left: 0;
        border-left: 3rem solid #3f2e8c;
        border-right: 3rem solid #3f2e8c;
        border-bottom: 2.5rem solid transparent;
    }
    &:after {
        bottom: -2.5rem;
        left: 0;
        border-left: 3rem solid #3f2e8c;
        border-right: 3rem solid #3f2e8c;
        border-top: 2.5rem solid transparent;
    }
}

.hexagon.highlighted {
    background-color: #3f2e8c;

    &:before {
        border-left: 3rem solid transparent;
        border-right: 3rem solid transparent;
        border-bottom: 2.5rem solid #3f2e8c;
    }

    &:after {
        border-left: 3rem solid transparent;
        border-right: 3rem solid transparent;
        border-top: 2.5rem solid #3f2e8c;
    }
} 