.nav-tabs {
    .nav-link {
        @include textstyle($default-font-size, normal, normal, 1.13, $color-primary);
        padding-left: 0;
        border: none;
        width: 135%;
        border-bottom: solid 1px #eeeeee!important;
        margin-top: 1rem;
    }

    .nav-link.active {
        color: #4300c2;
        font-weight: 600;

        &::after {
            content: "\f105";
            margin-left: 1.5rem;
        }
    }
}

.tab-content {

    h4 {
        font-size: 2.8rem;
        font-weight: bold;
        letter-spacing: -0.23px;
        margin-bottom: 0;
        margin-top: 20px;
    }

    p {
        @include textstyle($paragraph-size, normal, normal, 1.44,$color-primary);
    }
}
