.testimonial-box {
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    background-color: $color-white;
    padding: 3rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }
    
    hr {
        width: 60%;
        background-color: #dfe4ea;
        margin: 40px auto;
    }

    &__image {
        width: 62px;
        height: 62px;
        background-color: #696cff;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__name {
        @include testimonial(600, 1.36, -0.55px, $color-secondary);
        font-size: 2.2rem;
        margin-top: 10px;
        margin-bottom: -5px;
    }

    &__position {
        @include testimonial(normal, 1.43, -0.4px, #3e4462);
    }
}