.header {
	background: url(./../images/about/about-header.png);

	h1 {
		font-size: 6rem;
	}
	
	.about-text {
    	color: $color-white;
    	width: 45%;
    	margin: auto;
	}
}

main {
	.section-aboutus {
		margin-top: -18rem;
		padding: 0!important;

		.aboutus {
			border-radius: 4px;
  			background-color: #ffeddf;
	    	max-width: 1069px;
	    	margin: auto;

	    	.half {
	    		width: 50%;
	    		
	    		.aboutus-wrapper {
	    			padding: 3rem;

		    		h3 {
			    		@include textstyle(3.2rem, 500, -0.2px, normal, $color-primary);
					}

					p {
						@include textstyle(2rem, normal, -0.2px, 1.9, $color-primary);
					}
				}

				.whoweare-image {
					background: url(./../images/about/whoweare.png);
				    background-size: cover;
				    max-width: 100%;
				    height: 100%;
				}
	    	}
		}
	}
	
	.section-team {
		.team-wrapper {
			width: 70%;
			margin: auto;
			padding: 0 4rem;
			color: #111111;

			h2 {
				margin-top: 1.5rem;
			}

			p {
			  font-size: 2rem;
			  font-weight: 600;
			  color: #111111;
			  margin-top: 1.4rem;
			  margin-bottom: 0;
			}

			span {
			    opacity: 0.5;
			    font-size: 16px; 
			}
		}
	}

	.section-services {
		background: url(./../images/about/consumer.svg);
		background-size: cover;


		h2 {
			text-align: left;
			width: 50%;
			margin-bottom: 3rem;
		}

		.findout {
		    width: 130px;
		    height: 130px;
		    border: solid 0.5px #9a8be5;
		    background-color: #5e50aa;
		    border-radius: 50%;
			font-size: 16px;
			font-weight: 500;
			text-align: center;
			color: $color-white;
			padding-top: 5.5rem;
			position: relative;
		}
	}

	.section-review {
		background: url(./../images/about/yearinreview-background.svg);
		background-size: cover;

		h3 {
			text-align: left;
		}
		span {
			font-size: 14px;
			line-height: 1.57;
			color: $color-primary;
			display: inline-block;
			width: 60%;
			margin-bottom: 1.5rem;
		}
	}

	.section-presskit {
		background-color: #f0f3f6;
		position: relative;
		z-index: 2;

		h3 {
			text-align: left;
		}

		.presskit {
			width: 264px;
		}
		.contact-wrapper {
			border-radius: 10px;
			background-color: $color-white;
			padding: 4rem 2.5rem;

			p {
			    font-size: 18px;
			    color: #120c0c;

				a {
				  	line-height: 0.83;
				  	color: #120c0c;
				}
			}
		}
	}

	.section-journey {
		background: url(./../images/about/integration.png);
		background-size: contain;
		background-position: right;
		background-repeat: no-repeat;
		margin-left: 7rem;

		.c-timeline {
            position:relative;
            padding-left:6rem;
            padding-top:10rem;
            margin-top:-7.9rem;

            &::after {
	            content:"";
	            display:block;
	            width:0;
	            height:100%;
	            border:1px solid #eaf6fc;
	            position:absolute;
	            top:0;
	            left:60px;
	            left:0
	        }

	        &__bar {
	            display:none;
	            width:0;
	            height:0;
	            border:1px solid #5e50aa;
	            position:absolute;
	            top:0;
	            left:0;
	            z-index:1;
	            transition:ease-in-out all 0.5s
	        }

	        &__frame {
	            max-width:560px
	        }
	        &__item {
	            position:relative;
	            margin-bottom:45px;
	            padding-bottom:15px;
	            z-index:1;
	            list-style-type: none;

	            &::before {
		            content: "";
		            display: block;
		            width: 45px;
		            height: 45px;
		            top: 2px;
		            background-image: url(./../images/about/steps.svg), linear-gradient(white, white);
		            background-repeat: no-repeat;
		            box-shadow: 0px 1px 2px rgba(0,0,0,0.02);
		            border: 4px solid #fff;
		            position: absolute;
		            left: -82px;
		        }

		        &:last-child {
		            margin-bottom:0
		        }
	            .content {
	            	padding-top: 8px;
				    padding-bottom: 7rem;

				    &:last-child {
			            padding-bottom:0
			        }

				    h4 {
						font-size: 24px;
						line-height: 1.33;
						color: #404855;
					}
					p {
					  font-size: 18px;
					  line-height: 1.44;
					  color: #697381;
					}
				}
	        }
        }
	}

	.consumer-wrapper {
		max-width: 80%;
		margin: auto;
	}
}