.image-width {
    width: 460px;
}
.main {
    section {
        padding: 4rem 0;
    }
    .section-wallet {
        border-radius: 20px;
        background-image: linear-gradient(358deg, rgba(252, 252, 255, 1) 96%, #ffffff 39%);
        padding: 3rem 6rem;
        margin-top: -95px;

        p.paragraph {
            width: 84%;
        }
    }

    .section-loan {
        a {
            margin-top: 1rem;
        }
    }

    .section-investment {
        background-image: linear-gradient(to bottom, #fbfaff, #ffffff 43%);
        
        a {
            margin-top: 1rem;
        }
    }

    .section-testimonial {
        background: #fafafa;
        padding-bottom: 9rem;

        h4.text-center {
            width: 58%;
            margin: 4rem auto;
        }

        .carousel {
            .carousel-indicators {
                bottom: -4.5rem;

                li {
                    width: 1rem;
                    height: 1rem;
                    background-color: #e2e8eb;
                    border-radius: 100%;
                }

                li.active {
                    background-color: #3b2f85;
                }
            }
        }
    }

    .section-newsletter {
        background-image: url(./../images/newsletter.svg);
        background-size: cover;

        .newsletter-wrapper {
            border-radius: 10px;
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);
            background-color: #55499f;
            padding: 4rem 0;
            text-align: center;

            h3 {
                @include textstyle(3.2rem, 600, normal, 1.25, $color-white);
            }

            .d-flex {
                justify-content: center;
                margin-top: 2rem;

                .form-control {
                    @include textstyle(2rem, normal, normal, 1.4, $color-primary);
                    padding: 1rem 3rem;
                    height: 50px;
                    border-radius: 8px;
                    background-color: #eff2f6;
                    border: 0;
                }
            }
        }
    }

    .section-clients {
        text-align: center;

        h3 {
            font-weight: 500;
        }

        img {
            margin-top: 3.5rem;
            height: 30px;
            margin-left: 4rem;
        }

        hr {
            background-color: #dfe4ea;
            margin-top: 5rem;
        }
    }  
}