.investment {
    .header {
        background: #f6f3ff;
        padding-bottom: 8rem;
    }
            
    .section-steps {
        padding: 4rem 0;

        &__image {
            background: url(../images/investment.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            background-position: center;
        }

        &__wrapper {
            padding: 0 3rem;

            .line {
                width: 2px;
                height: 70px;
                border: solid 1px #3f2e8c;
                margin-left: 2.9rem;
                margin-top: 5rem;
                margin-bottom: 1rem;
            }

            h6 {
                @include textstyle($heading-four-size, 600, normal, normal, $color-primary);
                margin-top: 2.5rem;
            }
        }
    }

    .section-investmentterms {
        background-color: #fff7f6;
        padding: 4rem 0;

        .d-flex {
            justify-content: space-between;
        }
    }

    .section-plan {
        padding: 4rem 0;
        padding-bottom: 2rem;
    }

    .section-charges {
        background-color: #e0f9ff;

        h6 {
            font-size: 2.2rem;
            font-weight: bold;
            letter-spacing: -0.22px;
            margin-top: 2rem;
        }

        p i {
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            background: #fff;
            font-size: 1rem;
            text-align: center;
            padding-top: 8px;
            border-radius: 50%;
            position: relative;
            top: -4px;
        }
    }

    p {
        width: 91%;
    }
}