.investment {
    .header {
        background: #f6f3ff;
        padding-bottom: 0;

        &__box {
            position: relative;
            padding-top: 2rem;
            
            .investment {
                position: absolute;
                bottom: 0;
            }
        }
    }

    .section-steps {
        .half-size {
            width: 50%;
        }

        &__image {
            background: url(../images/investment.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            background-position: center;
        }

        &__wrapper {
            padding: 4rem 7rem;
            width: 50%;

            .line {
                width: 2px;
                height: 88px;
                border: solid 1px #3f2e8c;
                margin-left: 2.9rem;
                margin-top: 5rem;
                margin-bottom: 2rem;
            }

            h6 {
                width: 73%;
                @include textstyle($heading-four-size, 600, normal, normal, $color-primary);
            }
        }
    }

    .section-investmentterms {
        background-color: #fff7f6;
        padding-top: 8rem;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
        }
    }

    .section-plan {
        padding: 8rem 0;

    }

    .section-charges {
        background-color: #e0f9ff;

        h6 {
            font-size: 2.2rem;
            font-weight: bold;
            letter-spacing: -0.22px;
            margin-top: 2rem;
        }
    }

    p {
        width: 91%;
    }
}