.loan {
    header { 
        background: $color-white;
        padding-bottom: 0;
    }

    .section-howitworks {
        background-image: linear-gradient(to right, #3d2e84 0%, #8e64db 100%);
        padding: 8rem 0;
        padding-bottom: 37rem;
        transform: skewY(-7deg);
    
        & > * {
            transform: skewY(7deg);
        }

        .icon-wrapper {
            i {
                font-size: $default-font-size;
                color: $color-white;
            }
            &:after {
                clear: both;
            }
        }

    }

    .section-image {
        margin-top: -35rem;
        position: relative;
    }

    .section-features {
        padding: 4rem 0;

        img {
            margin-bottom: 1.5rem;
        }

        &__paragraph {
            @include textstyle($paragraph-size, normal, -0.2px, 1.44, $color-primary);
            width: 74%;
        }
    }

    .section-referral {
        background: #edfcff;

        &__wrapper {
            width: 75%;
            margin: auto;
            margin-top: 8rem;
        }
    }

    .section-payroll {
        padding: 5rem 0 4rem 0;

        &__heading-primary {
            @include textstyle(5.6rem, bold, -2.4px, 1.11, $color-primary);
        }

        &__paragraph {
            width: 65%;
            @include textstyle($paragraph-size, normal, -0.3px, 1.44, $color-primary);
        }

        a {
            margin-top: 0;
        }
    }
    
    .section-additionalinfo {
        background: #f9f9f8;
        padding: 4rem 0;

        &__infohead {
            @include textstyle(2.2rem, bold, -0.55px, 1.36, $color-primary);
        }

        &__infoparagraph {
            @include textstyle($paragraph-size, normal, -0.2px, 1.44, rgba(7, 26, 45, 0.8));
        }
    }

    p {
        padding: 1.5rem 0;
    }

    footer {
        p {
            padding: 0;
        }
    }
}
