.wallet {
    .header {
        background-image: radial-gradient(circle at 62% 37%, #ffffff, #ffffff 39%, #f6f5fa 83%);
        background: #faf7fe;
        padding-bottom: 8rem;
    }

    .paragraph-wrapper {
        width: 75%;
    }

    .section-walletdetails {
        padding: 4rem 0;

        &__wrapper {
            .wallet-card {
                h6 {
                    @include textstyle(2.24rem, bold, normal, 1.36, $color-primary);
                }

                p {
                    @include textstyle($default-font-size, normal, normal, 1.5, $color-primary);
                    width: 67.5%;
                    margin-top: 3rem;
                }
            }
        } 
    }
}