#payment {
	.header { 
        background: #fefaf6;

        &__box {
        	p {
				width: 84%;
			}
        }
    }

    .section-transfer {
    	padding-top: 4rem;
    }

    .section-recharge {
    	background: url(./../images/payment/recharge-airtime-bg.svg);
    	background-size: cover;
        padding-top: 4rem;

    	&__rwrapper {
    		margin-top: 8rem;
    	}
    }
}